.controls{
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
button{
    margin: 10px;   
}
.up{
    margin-left: 40px;
}
.down{
    margin-left: 30px;
}